h1{
    // margin-left: 35%;
    margin-bottom: 60px;
    font-size: 40px;
    // margin-top:0px;
}
p{
    text-align: center;
}
.boxing{
    width:62%;
    margin:auto;
    background-color: #309fff;
    padding:60px 20px 104px 20px;
    margin-bottom: 95px;
    // margin-top:70px;
}
.librarian_manage a{
    padding: 20px;
    font-size: 30px;
    text-decoration: none;
}
