<div style="background-color: #143f64;">
    <button class="btn btn-primary" (click)="logout()" style="float:right;margin-top: 5px;margin-right: 5px;">Logout</button>
    <br><br><br><br>
    <div class="boxing">
        <div>
            <h2 class="text-warning text-center">Welcome To</h2><br>
            <h1 class="text-center">Angular Application</h1>
        </div>
        <br><br>
        <div class="row">
            <div class="col-6 librarian_manage">
                <a routerLink="/librarian" routerLinkActive="active" class="btn-success btn-lg "
                    style="float:right;">Librarian Component</a>
            </div>
            <div class="col-6 librarian_manage">
                <a routerLink="/students-component" routerLinkActive="active" class="btn-danger btn-lg "
                    style="float:left;">Students Component</a>
            </div>
        </div>
    </div>
    <div class="text-center h3 p-4 btn-dark">@Task By Us</div>
</div>
