h2{
    text-align: center;
    margin-top: 6rem;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
a{
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}
.active{
    height: 30px;
    color:blue;
}