.product{
    background-color: skyblue;
    width: 60%;
    text-align: center;
    margin-top: 20px;
    width: 90%;
    margin:auto;
    margin-top: 10px;
}
.product button{
    padding: 5px;
    margin: 2px;
}